name: Nix Flake check

on:
  pull_request:

permissions:
  contents: read

jobs:
  flake-check:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      NIXPKGS_ALLOW_UNFREE: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
     
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Install Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run flake-checker
        uses: DeterminateSystems/flake-checker-action@main

      - name: nix flake check
        shell: bash
        run: |
          nix flake check -L --extra-platforms aarch64-linux --access-tokens github.com=${{ secrets.GH_TOKEN_FOR_UPDATES }}